<section id="cert">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-sm-12">
      <h1 class="business-title"><span class="fa fa-certificate"></span> Incorporation</h1>

      <a [routerLink]="['/org', record.verifiableOrgId] | localize" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> {{'org.return-link' | translate}}</a>

      <section *ngIf="record.inactiveReason && record.inactiveReason.id" class="alert alert-danger">
        <h2 class="panel-title"><span class="fa fa-exclamation-triangle"></span> {{'cert.inactive-message' | translate}} {{record.inactiveReason.reason}}</h2>
      </section>
    </div>
  </div>
  <div class="row mrgn-tp-md" *ngIf="loaded">
    <div class="col-sm-7">
      <div class="row form-group cred-info">
        <div class="col-md-12">
          <label class="control-label">Legal Name</label>
          <div class="form-field">
            <a href="#"><span class="fa fa-tag"></span> 246801234 British Columbia Inc.</a>
          </div>
        </div>
      </div>
      <div class="row form-group cred-info">
        <div class="col-md-12">
          <label class="control-label">Contact</label>
          <div class="form-field">
            <ul class="claim-list">
              <li>
                <label>Business Phone</label>
                <span class="claim-info phone">+1-800-411-4111</span>
              </li>
              <li>
                <label>Skype Address</label>
                <span class="claim-info contact">iverson.example</span>
              </li>
              <li>
                <label>Email Address</label>
                <span class="claim-info email">sales@iverson.example.ca</span>
              </li>
              <li>
                <label>Website Address</label>
                <span class="claim-info url">https://iverson.example.ca</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row form-group cred-info">
        <div class="col-sm-12">
          <label class="control-label">Registered Office</label>
          <div class="claim-info location">
            123 Fake St<br>
            Campbell River<br>
            British Columbia, Canada<br>
            V4H 1B1
          </div>
        </div>
      </div>
      <div class="row form-group cred-info">
        <div class="col-sm-12">
          <label class="control-label">People</label>
          <div class="form-field">
            <ul class="claim-list">
              <li>
                <label>Director</label>
                <span class="claim-info person">Bob Terwilliger</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel meta-panel">
        <div class="panel-body">
          <div class="row form-group">
            <div class="col-sm-12">
              <label class="control-label">Issuer</label>
              <div class="form-field">
                <a href="#" class="issuer-link">BC Registries</a>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-5">
              <label class="control-label">Effective Date</label>
              <div class="form-field">
                <span class="claim-info date">2018-04-01</span>
              </div>
            </div>
          </div>

          <div class="row form-group mrgn-tp-lg">
            <div class="col-sm-7">
              <button type="button" [class]="'btn btn-primary btn-verify' + (verifying ? ' loading' : '')" (click)="verifyClaim($event)"><span class="fa fa-accept"></span> {{'cert.verify-button-label' | translate}}</button>
            </div>
            <div class="col-sm-4 mrgn-tp-sm">
              <a class="verify-help" href="#" translate>cert.whats-this-link</a>
            </div>
          </div>

          <div class="row cert-verify" *ngIf="verifyResult || verifying">
            <div class="col-sm-12" *ngIf="verifying">
              <section class="alert alert-info">
                <p translate>cert.requesting-proof</p>
              </section>
            </div>
            <div class="col-sm-12" *ngIf="! verifying">
              <div [class]="'verify-result panel panel-' + (verifyStatus == 'success' ? 'success' : 'warning')" *ngIf="verifyStatus && verifyStatus !== 'error'">
                <div class="panel-heading">
                  {{'cert.verify-status' | translate}} {{verifyStatus}}
                </div>
                <div class="panel-body">
                  <code>{{verifyResult}}</code>
                </div>
              </div>
              <section class="alert alert-danger" *ngIf="verifyStatus === 'error'">
                <p>{{verifyResult}}</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
