<section id="business">
  <div class="row" *ngIf="error">
    <div class="col-sm-12">
      {{error}}
    </div>
  </div>

  <div class="row" *ngIf="!loaded && !error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <div class="row" *ngIf="loaded">
    <div class="col-md-8 col-sm-7">
      <h1 class="name-title">246801234 British Columbia Inc.</h1>

      <a [routerLink]="'/' | localize" class="title-back-link mrgn-bttm-md"><span class="fa fa-arrow-left"></span> {{'search.return-link' | translate}}</a>

      <div class="row">
        <div class="col-sm-12 name-info">
          <div class="panel name-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Incorporation: <span class="fa fa-tag"></span> <strong>246801234 British Columbia Inc.</strong></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-sm-7">
                  <label class="control-label">Issuer</label>
                  <div class="form-field">
                    <a href="#" class="issuer-link">BC Registries</a>
                  </div>
                </div>
                <div class="col-sm-5">
                  <label class="control-label">Effective Date</label>
                  <div class="form-field">
                    <span class="claim-info date">2018-04-01</span>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-7">
                  <label class="control-label">Contact</label>
                  <div class="form-field">
                    <ul class="claim-list">
                      <li>
                        <label>Business Phone</label>
                        <span class="claim-info phone">+1-800-411-4111</span>
                      </li>
                      <li>
                        <label>Skype Address</label>
                        <span class="claim-info contact">iverson.example</span>
                      </li>
                      <li>
                        <label>Email Address</label>
                        <span class="claim-info email">sales@iverson.example.ca</span>
                      </li>
                      <li>
                        <label>Website Address</label>
                        <span class="claim-info url">https://iverson.example.ca</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-5">
                  <label class="control-label">Registered Office</label>
                  <div class="claim-info location">
                    123 Fake St<br>
                    Campbell River<br>
                    British Columbia, Canada<br>
                    V4H 1B1
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <label class="control-label">People</label>
                  <div class="form-field">
                    <ul class="claim-list">
                      <li>
                        <label>Director</label>
                        <span class="claim-info person">Bob Terwilliger</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-right">
              <span class="fa fa-certificate"></span> <a class="util-link" href="#">View credential</a>
              &nbsp;
              <span class="fa fa-history"></span> <a href="#" class="util-link">See history (1)</a>
            </div>
          </div>

          <div class="panel name-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Doing Business As: <span class="fa fa-tag"></span> <strong>Iverson Kitchen</strong></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-7">
                  <label class="control-label">Issuer</label>
                  <div class="form-field">
                    <a href="#" class="issuer-link">BC Registries</a>
                  </div>
                </div>
                <div class="col-sm-5">
                  <label class="control-label">Effective Date</label>
                  <div class="form-field">
                    <span class="claim-info date">2018-05-01</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-right">
              <span class="fa fa-certificate"></span> <a class="util-link" href="#">View credential</a>
              &nbsp;
              <span class="fa fa-history"></span> <a href="#" class="util-link">See history (1)</a>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-5">
      <div class="panel timeline-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Timeline</h3>
          <a class="util-link" href="#"><span class="fa fa-expand"></span> Expand</a>
        </div>
        <div class="panel-body">
          <ul class="timeline-list">
            <li>
              <a href="#" class="issuer-link">Fraser Valley Health Authority</a> issued <a href="#" class="cred-link">Health Inspection</a>
              <time>10 days ago</time>
            </li>
            <li>
              Added <em>Director</em> <a href="#" class="cred-link person">Bob Terwilliger</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Business Phone</em> contact <a href="#" class="cred-link phone">+1-800-411-4111</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Skype Address</em> contact <a href="#" class="cred-link contact">iverson.example</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Email Address</em> contact <a href="#" class="cred-link email">sales@iverson.example.ca</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Website Address</em> contact <a href="#" class="cred-link url">https://iverson.example.ca</a>
              <time>3 months ago</time>
            </li>
            <li>
              Added <em>Registered Office</em> location <a href="#" class="cred-link location">123 Fake St, Campbell River BC, Canada V4H 1B1</a>
              <time>3 months ago</time>
            </li>
            <li>
              <a href="#" class="issuer-link">BC Registries</a> issued <em>Doing Business As</em> <a href="#" class="cred-link name">Iverson Kitchen</a>
              <time>3 months ago</time>
            </li>
            <li>
              <a href="#" class="issuer-link">BC Registries</a> issued <em>Incorporation</em> <a href="#" class="cred-link name">246801234 British Columbia Inc.</a>
              <time>4 months ago</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row creds-outer">
    <div class="col-sm-12">
      <div class="panel creds-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="panel-title">Other Credentials</h3>
            </div>
            <div class="col-sm-6 form-inline text-right">
              <div class="btn-group">
                <label class="btn btn-default btn-radio active">
                  <input type="radio" name="search_active" value="true" checked style="display: none"><span class="fa fa-bell"></span> Current
                </label>
                <label class="btn btn-default btn-radio">
                  <input type="radio" name="search_active" value="false" style="display: none"><span class="fa fa-history"></span> Historical
                </label>
              </div>
              <div class="btn btn-default active" style="margin-left: 1em">
                <span class="fa fa-filter"></span> Hide Filters <span class="fa fa-angle-double-up"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-heading filters">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label">Credential Type</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">Issuer</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">Before Date</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">After Date</label> <input class="form-control" type="text" size="14" placeholder="(any)" />
            </div>
          </div>
        </div>
        <div class="panel-heading columns">
          <div class="row">
            <div class="col-sm-4">
              <a href="#">Credential Type</a> / <a href="#"><strong>Date</strong> <span class="fa fa-arrow-down"></span></a>
            </div>
            <div class="col-sm-4">
              <a href="#">Issuer</a>
            </div>
            <div class="col-sm-4">
              Details
            </div>
          </div>
        </div>
        <div class="panel-body">

          <div class="row cred-row">
            <div class="col-sm-4">
              <div class="cred-title">
                <a class="cred-link" href="#">Health Inspection</a>
              </div>
              <div class="cred-date">
                <span class="claim-info date">2018-07-20</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cred-issuer">
                <a href="#" class="issuer-link">Fraser Valley Health Authority</a>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="claim-list">
                <li>
                  <label>Inspection Status</label>
                  <span class="claim-info">Passed</span>
                </li>
                <li>
                  <label>Inspection ID</label>
                  <span class="claim-info">HI2982528-18</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="row cred-row">
            <div class="col-sm-4">
              <div class="cred-title">
                <a class="cred-link" href="#">Women-Owned Supplier</a>
              </div>
              <div class="cred-date">
                <span class="claim-info date">2018-07-20</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cred-issuer">
                <a href="#" class="issuer-link">Public Services and Procurement Canada (PSPC)</a>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="claim-list">
                <li>
                  <label>Status</label>
                  <span class="claim-info">Active</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="row cred-row">
            <div class="col-sm-4">
              <div class="cred-title">
                <a class="cred-link" href="#">Security Screening</a>
              </div>
              <div class="cred-date">
                <span class="claim-info date">2018-07-20</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cred-issuer">
                <a href="#" class="issuer-link">Public Services and Procurement Canada (PSPC)</a>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="claim-list">
                <li>
                  <label>Screening Level</label>
                  <span class="claim-info">Personnel Assigned (PA)</span>
                </li>
                <li>
                  <label>Screening Expiry</label>
                  <span class="claim-info date">2018-12-31</span>
                </li>
                <li>
                  <label>Facility Clearance</label>
                  &mdash;
                </li>
                <li>
                  <label>Facility Clearance Expiry</label>
                  &mdash;
                </li>
              </ul>
            </div>
          </div>

          <div class="row cred-row">
            <div class="col-sm-4">
              <div class="cred-title">
                <a class="cred-link" href="#">Vendor Performance Rating</a>
              </div>
              <div class="cred-date">
                <span class="claim-info date">2018-07-20</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cred-issuer">
                <a href="#" class="issuer-link">Public Services and Procurement Canada (PSPC)</a>
              </div>
            </div>
            <div class="col-sm-4">
              <ul class="claim-list">
                <li>
                  <label>Performance Score</label>
                  <span class="claim-info">5</span>
                </li>
                <li>
                  <label>Last Updated</label>
                  <span class="claim-info date">2018-06-20</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
